body {
    width: 100%;
    background-color: #08AEEA;
    background-image: linear-gradient(315deg, #08AEEA 0%, #2AF598 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.cadreCentral {
    /* margin: 0 auto; */
    margin-left: 10%;
    max-width: 1024px;
}

/* STYLE DE LA BANNIERE */
.fondBanniere {
    background-image: linear-gradient(90deg, #cf0e0e 80%, #fd8b8b 100%);
}

.banniere {
    height: 130px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.banniere h1 {
    padding: 40px 0 0 10%;
}

/* STYLE BARRE DE NAVIGATION */
.fondNavigation {
    z-index: 4;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: darkslategray;
}

.barreNavigation {
    margin: 0 auto;
    max-width: 1024px;
    /* z-index: 4;
    position: -webkit-sticky;
    position: sticky; */
    /* top: 0px; */
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.barreNavigation a {
    padding-top: 12px;
    width: 16.6%;
    height: 100%;
    text-align: center;
    color: black;
}

.barreNavigation a:hover {
    background-color: white;
    transition-duration: 1s;
    text-decoration: none;
}

/* BOUTTONS DE PARTAGE LATERAUX */
.barreLateralePartage {
    position: fixed;
    top: 250px;
    left: 0px;
}

.iconeRS {
    height: 55px;
    width: 55px;
    margin-bottom: 10px;
    padding-left: 2px;
}

/* STYLE DU CAROUSEL */
.conteneurCarousel {
    margin: 15px auto 15px;
    max-width: 1024px;
    padding: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    /* height: 130px; */
    
}


.mobileDroit {
    position: fixed;
    width: 300px;
    right: 3%;
    top: 190px;
}

/* AUTRES ARTICLES */
.boiteArticles {
    position: fixed;
    top: 190px;
    right: 3%;
    height: 255px;
    width: 300px;
    background-color: white;
    border: dotted;
}

.boiteArticlesContenu {
    margin: 40px;
}

.boiteArticlesContenu h2 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.boiteArticlesContenu li {
    padding-bottom: 5px;
}

/* NEWSLETTER */
.newsletter {
    position: fixed;
    top: 460px;
    right: 3%;
    height: 220px;
    width: 300px;
    background-color: white;
    border: dotted;
}

.newsletterTexte {
    margin: 40px;
    padding-bottom: 0px;
}

.newsletter input {
    margin-left: 40px;
    width: 215px;
}

/* .newsletterContenu {
    padding: 40px;
} */

.newsletterContenu p {
    border-bottom: 1px solid;
}

/* STYLE CORPS DES ARTICLES ET RECETTES */
.titreArticle {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    margin: 20px 0;
}

.cadreImageArticle {
    width: 1024px;
    height: 400px;
    overflow: hidden;
    margin: 0px auto 8px;
    display: block;
    text-align: center;
}

.cadreImageArticle img {
    margin: 0px auto;
    max-width: 90%;
    max-height: 100%;
}

table {
    margin: 20px auto;
    width: 500px;
    border: dotted;
}

td {
    padding: 5px;
    border: solid;
}




/* CSS POUR LES CARRES-VIGNETTES RECETTES */
.conteneurCarres {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* font-size: 3rem; */
}

.carreRecettes {
    overflow: hidden;
    margin: 5px;
    width: 325px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

.carreRecettes img {
    width: 100%;
    height: auto;
}

.carreRecettes img:hover {
    transform: scale(1.05);
    transition-duration: 1s;
}

.carreRecettes h2 {
    z-index: 4;
    padding: 15px;

}


/* FOOTER */
footer {
    background-color: darkslategray;
}

.footerBox {
    margin: 0px auto;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerBoxMap {
    width: 30%;
    margin: 10px;
    /* padding-right: 100px; */
    border-right: dotted black;
}

.footerBoxCopyright {
    margin: 10px;
}


/* REACTIVITE - RESPONSIVENESS */

@media (max-width: 1520px) {

    .mobileDroit {
        /* position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; */
        display: none;
    }

    .cadreCentral {
        margin: 0 auto;
    }
}

@media (max-width: 1125px) {
    .barreLateralePartage {
        display: none;
    }
}

@media (max-width: 700px) {

    .conteneurCarousel {
        display: none;
    }

    /* A CORRIGER OU SUPPRIMER: ne s'affiche pas mais prend tout de même de la place (JS?) */
    .mapExtra {
        display: none;
    }
}
